# api
ALLOWED_ORIGINS_CSV="http://web:1950"

# web
# todo: ルートの.envの環境変数を使う
# VITE_NODE_ENV=development
# VITE_USE_MSW=false
# VITE_BACKEND_URL="http://localhost:8080"

# reverse-proxy
SERVER_NAME=localhost
