hr {
	width: 85%;
}

p {
	margin: 0;
}

.NextBusesListSection {
	padding: 1% 3%;
	text-align: center;
	height: 800px;
}

.NextBusesLists {
	background-color: #555;
	display: flex;
	border-radius: 15px;
	padding: 7px;
}

.StopName {
	margin: 5%;
}

.NextBusesList {
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.NextBusesListCell {
	background-color: white;
	display: flex;
	flex-direction: none;
	color: black;
	margin: 6%;
	width: 85%;
	height: 80px;
	border-radius: 10px;
	padding: 7px;
	font-size: 15px;
}

.NextBusesListCell p {
	position: absolute;
	display: inline-block;
}

.BusName {
	text-align: left;
	font-weight: bold;
	margin: 0;
	padding: 1px;
	background-color: darkolivegreen;
	color: white;
}

.StaticTime {
	margin-top: 40px;
}

.RemainingMinutes {
	margin-top: 60px;
}

.DelayMinutes {
	margin-top: 40px;
	margin-left: 50px;
	color: red;
}

.TimeTableSection {
	background-color: blanchedalmond;
	height: 300px;
}